body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 25 50 25px;
}

body>h2{
    margin-left: 10px;
}

header{
    background-color: black;
    padding: 10px;
}

header>p{
    color: white;
}


header>h2{
    color: rgb(0, 195, 255);;
    font-family: 'Poppins', sans-serif;
}


section{
    background-color: lightgray;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

p{
    margin-left: 10px;
}

.number{
    text-align: right;
}

.item{
    text-align: center;
}

table{
    width: 400px;
    border-collapse:collapse;
}

th{
    border-bottom: 1px solid blue;

}

hr{
    margin-top: 25px;
    color: lightgray;
    width: 96%;
}

td{
    padding: 5px;
}